<div class="container">
    <h3 class="col-sm-offset-2">Übersetzungsdateien transformieren: CSV2JSON</h3>
    <form class="form-horizontal" name="transform.form">
        <div class="form-group">
            <label for="locale-csv" class="col-sm-2 control-label">CSV Datei</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <label class="input-group-btn">
                    <span class="btn btn-default">
                        Duchsuchen&hellip; <input type="file" id="locale-csv" style="display: none;" 
                                                  file="transform.csvFile">
                    </span>
                </label>
                    <input type="text" class="form-control" ng-value="transform.csvFile.name" placeholder="CSV-Datei auswählen" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="local-json-base-path" class="col-sm-2 control-label">JSON Referenzdatei</label>
            <div class="col-sm-6">
                <input id="local-json-base-path" required class="form-control" type="text" ng-model="transform.url" placeholder="JSON Referenz (endet bspw. mit -DE.json)">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6 button-group inline">
                <button class="btn btn-default" type="button" id="transform-trigger" ng-click="transform.transform()">Transformieren</button>
                <button class="btn btn-default" type="button" id="transform-trigger" ng-click="transform.export()">Export Referenz-CSV</button>
            </div>
        </div>
    </form>
</div>